<nav class="navbar navbar-expand-lg navbar-dark mb-2" style="background: linear-gradient(120deg, #1411be, #e12929); height: 50px;">
    <a class="navbar-brand " href="#">TechWarriors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <style>
        .custom{
            background-color: #133b1b;
        }
    </style>

    <div class="collapse navbar-collapse color-white" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li> -->
            <!-- 
            <li class="nav-item">
                <a class="nav-link" href="#">GitHub</a>
            </li> -->
        </ul>
    </div>
</nav>